body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Inter;
    background: rgb(56, 56, 56);
}

#game {
    border-collapse: collapse;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.tableCell {
    width: 20px;
    height: 20px;
}