body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(56, 56, 56);
    font-family: VT323;
    height: 100%;
}
html {
    height: 100%;
}
.imageHolder {
    position: absolute;
    bottom: -1000px;
    visibility: hidden;
}
.scene {
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#game {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

  #gameTitle {
    color: white;
    font-size: 90px;

  }
  .pixel {
    font-size: 25px;
    color: white;
    height: auto;
    margin: 10px;
    font-family: 'VT323';
    
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .pixel:active {
    top: 2px;
  }
  
  .pixel {
    line-height: 0;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  }
  
  .pixel p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
    
      background: #000000;
      background:
          linear-gradient(135deg, transparent 10px, #000000 0) top left,
          linear-gradient(225deg, transparent 10px, #000000 0) top right,
          linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
          linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image:
          radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
  }



.playersHolder {
  width: 500px;
  height: 500px;
  background: rgb(78, 78, 78);
  border-radius: 5px;

}

#playerCanvasHolder {
  visibility: hidden;
}

#playerCardsHolder {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}

.endGamePopup {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  flex-direction: column;
  align-items: center;
  background: #333;
  border-radius: 5px;
  width: max-content;
  height: max-content;
  padding: 20px;
  display: none;
  z-index: 501;
}
.title {
  color: white;
  font-size: 100px;
}
.endGameHolder {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.header {
  color: white;
  font-size: 25px;
}
.engGame_playerImgHolder {
  width: 50px;
  height: 50px;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
}
.engGame_playerImg {
  width: 100%;
}
.endGame_text {
  color: rgb(187, 187, 187);
  font-size: 20px;
  margin: 5px;
  flex-grow: 1;
}