#scene_adminTools {
    flex-direction: column;
    background: rgb(212, 212, 212);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.at_topRow {
    width: 100%;
    height: 40px;
    border-bottom: 3px solid black; 
    background: rgb(36, 36, 36);
    display: flex;
    flex-direction: row;
}
.at_tab {
    width: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(223, 223, 223);
    user-select: none;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.at_tab:hover {
    opacity: 0.5;

}
.at_content {
    display: none;
    width: 100%;
    flex-grow: 1;
}


.at_dc_leftBar {
    width: 300px;
    height: 100%;
    background: rgb(175, 175, 175);
    display: flex;
    flex-direction: column;
}
.at_dc_lb_tableNames {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.at_dc_lb_filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.at_dc_tableName {
    width: 100%;
    height: 50px;
    cursor: pointer;
    background: rgb(175, 175, 175);
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.at_dc_tableName:hover {
    opacity: 0.5;

}
.at_dc_contentHolder {
    height: 100%;
    flex-grow: 1;
    position: relative;
    overflow: auto;
}
.at_dc_table {
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    margin: auto;
    overflow: auto;
}
.at_dc_table_header {
    text-align: center;
    background: rgb(31, 31, 31);
    color: white;
    font-weight: bold;
    font-size: 15px;
    max-width:200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    padding: 3px;
}
.at_dc_table_cell1,.at_dc_table_cell0 {
    color: black;
    text-align: center;
    font-size: 15px;
    max-width:200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    padding: 3px;
}
.at_dc_table_cell1 {
    background: rgb(223, 223, 223);

}
.at_dc_table_cell0 {
    background: rgb(165, 165, 165);

}
.at_dc_columnNames {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgb(179, 179, 179);
    border-radius: 5px;
    z-index: 500;
    width: 50%;
    height: 50%;
    flex-direction: row;
    flex-wrap: wrap;
}
.at_dc_lb_filter_options {
    user-select: none;
    cursor: pointer;
    background: gray;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}
.at_dc_lb_title {
    font-size: 30px;
    margin-top: 20px;
    text-decoration: underline;
    width: 100%;
}
.at_dc_lb_filter_options:hover {
    opacity: 0.5;
}
.at_dc_lb_filter_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}
.at_dc_lb_filter_title {
    font-size: 15px;
    height: 25px;
    text-align: center;
    width: 40%;
}
.at_dc_lb_filter_select {
    height: 25px;
    text-align: center;
    width: 20%;
    font-size: 15px;
}
.at_dc_lb_filter_input {
    outline: none;
    border: none;
    height: 25px;
    font-size: 15px;
    width: 40%;
}
.at_dc_lb_delete {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: red;
    color: black;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.at_dc_lb_delete:hover {
    opacity: 0.5;
}
.at_dc_lb_filter_plus {
    margin-top: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    font-size: 25px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.at_dc_lb_filter_plus:hover {
    opacity: 0.5;
}
.at_bp_canvas {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
    width: 20px;
    position: relative;
}
.addButton {
    
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  user-select: none;
  text-align: center;
}
.battlePassHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.battlePassDiv {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 3px solid black;
    box-sizing: border-box;
}
.battlePassDivSelected {
    border: 3px solid blue;
}
.battlePassCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}



  .techTree_background {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }
  .techTree_vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* So it doesn't interfere with dragging */
    background: radial-gradient(circle, rgb(0 0 0 / 0%) 50%, rgb(62 40 44 / 50%) 100%);
    z-index: 1000; /* Keep it above the canvas */
  }
  .techTree_line {
    position: absolute;
    height: 2px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.801) 20%, rgba(255, 255, 255, 0.801) 80%,rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0) 100%);
  }
  .techTree_lineLocked {
    position: absolute !important;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.801);
    cursor: url('./img/pointer.cur'), auto;
    background: black;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .2s ease-in-out;
  }
  .techTree_lineLocked:hover {
    border: 2px solid rgba(150, 150, 150, 0.801);
  }
  .techTree_line_count {
    position: absolute;
    transform: rotate(90deg);
    right: 60%;
    top: 50%;
    color: purple;
    font-size: 25px;
    z-index: 2;
    width: max-content;
    height: max-content;
    -webkit-text-stroke: 3px black;
    paint-order: stroke fill;
    pointer-events: none;
  }
  .techTree_line_unlocked {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 15%, rgba(45, 226, 54, 0.801) 20%, rgba(45, 226, 54, 0.801) 80%,rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0) 100%) !important;
  }
  .techTree_lineLockedImg {
    filter: invert(1);
    width: 80%;
    height: 80%;
    transform: rotate(90deg);
  }
  .techTree_infoCard {
    position: absolute;
    z-index: 100;
    background: rgba(65, 65, 65, 0.863);
    border: 4px solid rgba(255, 255, 255, 0.904);
    padding: 10px;
    height: max-content;
    width: 275px;
    display: none;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 5px;
  }
  .infocard_name {
    font-size: 26px;
  
  }
  .infocard_title {
    font-size: 19px;
  
  }
  .infocard_description {
    font-size: 23px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .techTree_unlocked {
    border: 3px solid rgba(45, 226, 54, 0.801);
  }
  .techTree_locked {
    border: 3px solid rgba(255, 255, 255, 0.801);
    filter: grayscale(100%);
  }
  .grayScale {
    filter: grayscale(100%);
  }
  .noInvert {
    filter: none !important;
  }
  .textTree_rewards {
    position: absolute;
    cursor: url('./img/pointer.cur'), auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
  }
  .techTree_reward_selected {
    border: 3px solid rgba(63, 126, 199, 0.801) !important;
  }
  .techTree_reward {
    transition: border .2s ease-in-out;
    border-radius: 5px;
    position: relative;
    z-index: 1;
  }
  .techTree_insideReward {
    width: 100%;
    height: 100%;
  }
  .techTree_reward_text {
    width: max-content;
    height: max-content;
    padding: 10px;
    font-size: 2em;
    background: rgba(255, 255, 255, 0.11);
    color: white;
  }
  .techTree_reward_img {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.11);
    margin: 5px;
  }
  .techTree_reward_miniText {
    position: absolute;
    right: -10px;
    bottom: -10px;
    font-size: 25px;
    z-index: 2;
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
  }
  .textGold {
    color: gold;
  }
  .textWhite {
    color: white;
  }
  
  .techTree_content {
    position: absolute;
    left: 15px;
    top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
  }
  .techTree_returnButton {
    width: max-content;
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
    line-height: 35px;
    font-size: 30px;
    cursor: url('./img/pointer.cur'), auto;
    border-radius: 5px;
    border: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: all .2s ease-in-out;
  }
  .techTree_returnButton:hover {
    border: 3px solid rgb(45, 226, 54);
    color: rgb(45, 226, 54);
  }
  .techTree_battlePointsImg {
    height: 45px;
    margin-left: 5px;
  
  }
  .techTree_battlePointsCounter {
    color: purple;
    margin-left: 5px;
    font-size: 35px;
  }